				<ul class="mb15">
          <li><a href="/admin/post" class="<%='active' if ['post', 'post_edit'].include?(current_action) %>">农家乐资讯</a></li>
          <li><a href="/admin/post_news" class="<%='active' if ['post_news'].include?(current_action) %>">最新动态</a></li>
          <li><a href="/admin/post_fun" class="<%='active' if ['post_fun'].include?(current_action) %>">风景娱乐</a></li>
          <li><a href="/admin/post_buy" class="<%='active' if ['post_buy'].include?(current_action) %>">土特产代购</a></li>
					<li><a href="/admin/image" class="<%='active' if ['image','image_edit'].include?(current_action) %>">图片管理</a></li>
					<li><a href="/admin/cms_index" class="<%='active' if ['cms_index'].include?(current_action) %>">首页编辑</a></li>
					<li><a href="/admin/cms_house_info" class="<%='active' if ['cms_house_info'].include?(current_action) %>">温馨住宿</a></li>
					<li><a href="/admin/cms_food_info"  class="<%='active' if ['cms_food_info'].include?(current_action) %>">农家美食</a></li>
					<li><a href="/admin/cms_cs_info"  class="<%='active' if ['cms_cs_info'].include?(current_action) %>">真人CS</a></li>
					<li><a href="/admin/cms_ask" class="<%='active' if ['cms_ask'].include?(current_action) %>">常见问题</a></li>
				</ul>
