<% if @total_page > 1 %>
				<div class="page">
  <% if params[:page].to_i > 1 %>
    <a href="?page=<%=params[:page].to_i - 1%>"><img src="/images/leftye.jpg" width="18" height="12" /></a>
  <% end %>
  <% n = 1 
     fi = (params[:page].to_i) - 5
     fi.upto((params[:page].to_i) -1 ) do |pi|
     if pi > 0
     n+=1 
  %>
  <a href="?page=<%=pi%>"><%=pi%></a>.
  <% end
  end %>
  <%= params[:page] %>.
  <% (params[:page].to_i + 1).upto(params[:page].to_i + (10-n+1)) do |li|
     if li <= @total_page %>
  <a href="?page=<%=li%>"><%=li%></a>.
  <% end 
  end %>
  <% if params[:page].to_i < @total_page %>
    <a href="?page=<%=params[:page].to_i + 1 %>"><img src="/images/rightye.jpg" width="18" height="12" /></a>
  <% end %>
</div>
       <% end %> 
