		<div class="mainBox">
			<div class="minNav">
        <p>农家美食 &lt; <a href="/">西安山水农家乐</a></p>
			</div>
			<div class="mainAll">
				<h4>农家餐饮<span>一览</span></h4>
				<p>山水农家乐的菜品都经过精心研究，以色、香、味俱全的高标准来要求自己。一年四季的时令鲜蔬是我们的主要食材，各种新鲜野味使我们的特色。</p>
				<table>
					<tr>
            <th class="click"><a class="<%='active' if params[:id].to_i == 11 %>" href="/food/11">特色推荐</a></th>
						<th class="title"><a class="<%='active' if params[:id].to_i == 12 %>" href="/food/12">时令家常菜</a></th>
						<th class="user"><a class="<%='active' if params[:id].to_i == 13 %>" href="/food/13">野菜类</a></th>
						<th class="time"><a class="<%='active' if params[:id].to_i == 14 %>" href="/food/14">野味类</a></th>
						<th class="reply"><a class="<%='active' if params[:id].to_i == 15 %>" href="/food/15">烧烤类</a></th>
					</tr>
				</table>
				<div class="albums" id="f1">
					<ul id="slideshow">
						<% @pictures.each do |p| %>
						<li>
							<h3><%=h p.name %></h3>
							<span><%=p.file_url %></span>
							<p></p>
							<a href="javascript:void(0);"><img src="<%=p.file_url %>" alt="<%=h p.name %>" /></a>					
						</li>
						<% end %>
					</ul>
					<div id="wrapper">
						<div id="fullsize" style=" float:left;">
							<div id="imgprev" class="imgnav" title="Previous Image" style="display:none;"></div>
							<div id="imglink"></div>
							<div id="imgnext" class="imgnav" title="Next Image"  style="display:none;"></div>
							<div id="image"></div>
							<div id="information">
								<h3></h3>
								<p></p>
							</div>
						</div>
						<div id="thumbnails" style=" float:left;">
							<div id="slideleft" title="Slide Left"  style="display:none;"></div>
							<div id="slidearea">
								<div id="slider"></div>
							</div>
							<div id="slideright" title="Slide Right" style="display:none;"></div>
						</div>
					</div>
				</div>
				<div class="houseText" id="f2">
					<h5><img src="/images/funr5.png"/>凉菜</h5>
					<table cellspacing="0" cellpadding="0" border="1" style="color: rgb(34, 34, 34); font-size: 12px; text-align: center;">
					    <tbody>
					        <tr>
					            <td colspan="2" style="width: 568px;">
					            <p align="center"><strong>凉菜</strong></p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>大拉皮35元</p>
					            </td>
					            <td style="width: 284px;">
					            <p>蛋羹鸡翅68元</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>鱼片58元</p>
					            </td>
					            <td style="width: 284px;">
					            <p>肚丝48元</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>生炒兔片48元</p>
					            </td>
					            <td style="width: 284px;">
					            <p>小炒28元</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>蛋卷58元</p>
					            </td>
					            <td style="width: 284px;">
					            <p>手撕兔48元</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>口代豆腐38元</p>
					            </td>
					            <td style="width: 284px;">
					            <p>去骨猪蹄45元</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>菠萝豆腐36元</p>
					            </td>
					            <td style="width: 284px;">
					            <p>腊肉荷兰豆28元</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>酸菜粉条28元</p>
					            </td>
					            <td style="width: 284px;">
					            <p>肥肠48元</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>红烧肉干豆角28元</p>
					            </td>
					            <td style="width: 284px;">
					            <p>龙须菜28元</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>红烧肉土豆干28元</p>
					            </td>
					            <td style="width: 284px;">
					            <p>锅贴22元</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>干炸小黄鱼15元</p>
					            </td>
					            <td style="width: 284px;">
					            <p>芥末佛手22元</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">鸭脖 5元</td>
					            <td style="width: 284px;">鸭头10元</td>
					        </tr>
					    </tbody>
					</table>
				</div>
				<div class="houseText" id="f3">
					<h5><img src="/images/funr5.png"/>主食汤类</h5>
					<table cellspacing="0" cellpadding="0" border="1" style="color: rgb(34, 34, 34); font-size: 12px; text-align: center;">
					    <tbody>
					        <tr>
					            <td colspan="2" style="width: 568px;">
					            <p align="center"><strong>主食</strong></p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>杂粮米饭10元/桶</p>
					            </td>
					            <td style="width: 284px;">
					            <p>臊子面6元</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>锅盔10元</p>
					            </td>
					            <td style="width: 284px;">
					            <p>油饼12元/张</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>酸菜拌汤10元/盒</p>
					            </td>
					            <td style="width: 284px;">
					            <p>酸菜面15元/盒</p>
					            </td>
					        </tr>
					    </tbody>
					</table>
					
					<table cellspacing="0" cellpadding="0" border="1" style="color: rgb(34, 34, 34); font-size: 12px; text-align: center;margin-top:15px;">
					    <tbody>
					        <tr>
					            <td colspan="2" style="width: 568px;">
					            <p align="center"><b>汤类</b></p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>酸菜粉丝汤16元</p>
					            </td>
					            <td style="width: 284px;">
					            <p>排骨冬瓜汤32元</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 284px;">
					            <p>紫菜蛋花汤12元</p>
					            </td>
					            <td style="width: 284px;">
					            <p>西红柿鸡蛋汤12元</p>
					            </td>
					        </tr>
					    </tbody>
					</table>
				</div>
				<div class="houseText" id="f4">
					<h5><img src="/images/funr5.png"/>包席菜品</h5>
					<table cellspacing="0" cellpadding="0" border="1" style="color: rgb(34, 34, 34); font-size: 12px; text-align: center;">
					    <tbody>
					        <tr>
					            <td colspan="3" style="width: 568px;">
					            <p align="center"><strong>500</strong><strong>元餐标</strong></p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 189px;">
					            <p>凉菜</p>
					            </td>
					            <td style="width: 189px;">
					            <p>热菜</p>
					            </td>
					            <td style="width: 189px;">
					            <p>主食（不限量）</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 189px;">
					            <p>野菜2个</p>
					            </td>
					            <td style="width: 189px;">
					            <p>辣子土鸡</p>
					            </td>
					            <td style="width: 189px;">
					            <p>岐花面</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 189px;">
					            <p>洋葱木耳</p>
					            </td>
					            <td style="width: 189px;">
					            <p>生炒鱼片</p>
					            </td>
					            <td style="width: 189px;">
					            <p>锅盔</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 189px;">
					            <p>糖拌山药</p>
					            </td>
					            <td style="width: 189px;">
					            <p>葱花土鸡蛋</p>
					            </td>
					            <td style="width: 189px;">
					            <p>煎饼</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 189px;">
					            <p>红油耳片</p>
					            </td>
					            <td style="width: 189px;">
					            <p>竹笋腊肉</p>
					            </td>
					            <td style="width: 189px;">
					            <p>&nbsp;</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 189px;">
					            <p>尖椒变蛋</p>
					            </td>
					            <td style="width: 189px;">
					            <p>野蘑菇烧青菜</p>
					            </td>
					            <td style="width: 189px;">
					            <p>&nbsp;</p>
					            </td>
					        </tr>
					        <tr>
					            <td style="width: 189px;">
					            <p>芥末佛手</p>
					            </td>
					            <td style="width: 189px;">
					            <p>土豆丝</p>
					            </td>
					            <td style="width: 189px;">
					            <p>&nbsp;</p>
					            </td>
					        </tr>
					    </tbody>
					</table>
				</div>
			</div>
		</div>

<script type="text/javascript" src="/javascripts/slide.js" ></script>
<script type="text/javascript">
	$('slideshow').style.display='none';
	$('wrapper').style.display='block';
	var slideshow=new TINY.slideshow("slideshow");
	window.onload=function(){
		slideshow.auto=true;
		slideshow.speed=5;
		slideshow.link="linkhover";
		slideshow.info="information";
		slideshow.thumbs="slider";
		slideshow.left="slideleft";
		slideshow.right="slideright";
		slideshow.scrollSpeed=4;
		slideshow.spacing=1;
		slideshow.active="#fff";
		slideshow.init("slideshow","image","imgprev","imgnext","imglink");
	}
</script>
<style type="text/css" media="screen">
.houseText table{width:571px;}
</style>
